@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan-disabled-bg: hsl(183, 37%, 36%);
  --very-dark-cyan-disabled-text: hsl(182, 35%, 29%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(11, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}

body {
  background-color: var(--light-grayish-cyan);
  height: 100vh;
  display: grid;
  place-items: center;
}

.header {
  margin-bottom: 3rem;
  text-align: center;
  color: var(--very-dark-cyan);
}

main {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.input-values-container {
  display: grid;
  grid-template-columns: 1fr;
}

h4 {
  color: var(--dark-grayish-cyan);
  font-size: 0.6rem;
  margin-bottom: 0.1rem;
}

.bill-value,
.number-of-people {
  text-align: right;
  color: var(--very-dark-cyan);
  width: 100%;
  border-radius: 3px;
  outline: none;
  padding: 0.3rem;
  border: none;
  background-color: var(--very-light-grayish-cyan);
}

.bill-value:focus,
.number-of-people:focus,
.bill-value:hover,
.number-of-people:hover {
  cursor: pointer;
  border: 2px solid var(--strong-cyan);
  border-radius: 3px;
}

/* removing up/down button */
.bill-value::-webkit-outer-spin-button,
.bill-value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dollar-icon-container {
  position: relative;
}

.dollar-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.number-of-people-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person-icon-container {
  position: relative;
}

.person-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(50%);
}

/* Show Waraning in Red */
.number-of-people-container .zero-warning {
  color: var(--red);
}

.zero-warning-border {
  border: 2px solid var(--red);
  border-radius: 3px;
  width: 100%;
  outline: none;
  text-align: right;
  padding: 0.2rem;
  background-color: var(--very-light-grayish-cyan);
}

.zero-warning-border::-webkit-outer-spin-button,
.zero-warning-border::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-of-people::-webkit-outer-spin-button,
.number-of-people::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.percentage-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.percentage-selection button:not(:last-child) {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  padding: 0.35rem 1.25rem;
  border: none;
  border-radius: 5px;
  max-width: 80px;
}

.percentage-selection button:hover {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
  cursor: pointer;
}

/* custom button */
.custom-tip {
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: right;
  border: none;
  outline: none;
  padding: 0 0.5rem;
  max-width: 80px;
}

.custom-tip:hover,
.custom-tip:focus {
  cursor: pointer;
  border: 2px solid var(--strong-cyan);
  border-radius: 3px;
}

.custom-tip::placeholder {
  color: var(--dark-grayish-cyan);
  text-align: center;
}

.custom-tip:focus::placeholder {
  color: transparent;
}

.custom-tip::-webkit-outer-spin-button,
.custom-tip::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-tip-container {
  margin: 0.75rem 0;
}

/* box 2 - delete this later */
.results-container {
  background-color: var(--very-dark-cyan);
  padding: 1.75rem;
  border-radius: 0.5rem;
}

.tip-amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-amount-container div {
  display: flex;
  flex-direction: column;
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 1.5rem;
}

.total-container div {
  display: flex;
  flex-direction: column;
}

.tip-amount,
.total-amount {
  color: var(--white);
  font-size: 0.7rem;
}

.tip-amount-person,
.total-amount-person {
  color: var(--light-grayish-cyan);
  font-size: 0.5rem;
}

.tip-amount-result-person,
.total-amount-result-person {
  color: var(--strong-cyan);
  font-size: 1.5rem;
}

.reset-button {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  border: none;
  padding: 0.5rem 5rem;
  border-radius: 5px;
  margin-top: 3rem;
}

.reset-button:hover {
  background-color: var(--light-grayish-cyan);
  cursor: pointer;
}

.reset-button:disabled {
  background-color: var(--very-dark-cyan-disabled-bg);
  color: var(--very-dark-cyan-disabled-text);
  cursor: not-allowed;
}

/* Mobile view */
@media (max-width: 470px) {
  main {
    grid-template-columns: 1fr;
  }

  .bill-container {
    margin-bottom: 0.3rem;
  }

  .percentage-selection {
    grid-template-columns: 1fr 1fr;
  }

  .percentage-selection button:not(:last-child) {
    max-width: 120px;
  }

  .number-of-people-container {
    margin: 1rem 0;
  }

  .custom-tip {
    max-width: 120px;
  }

  .reset-button {
    margin-top: 1.5rem;
  }
}
